.CompanyName{
  background-color: black; 
  width: 100%;
   height: px;
   padding: 20px;
   color: white;
   font-size: large;
}

.b{
  background-color: black;
  color: white;
}

.main
{
  background-color: black;
  width: 100%;
  color: white;
  font-size: medium;
  
}


